<?xml version="1.0"?>  
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
            <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
            <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          </sectionGroup>     
        </sectionGroup>
      </sectionGroup>-->    
  </configSections>  
  <appSettings> 
    <add key="DBTimeOut" value="60"/>            
    <!--seconds-->      
    <!--<add key="SrcFiles" value="c:\mtnout_android\Strauss\"/>  
    <add key="ZipFiles" value="c:\mtnout_android\Strauss\ZipFiles\"/>       
    <add key="TmpFiles" value="c:\mtnout_android\Strauss\TmpFiles\"/>    
    <add key="UploadFiles" value="c:\mtnout_android\Strauss\UploadFiles\"/>                 
    <add key="ArchiveFiles" value="c:\mtnout_android\Strauss\ArchiveFiles\"/>-->
    <add key="SrcFiles" value="c:\mtnout_android\Sides\"/>
    <add key="ZipFiles" value="c:\mtnout_android\Sides\ZipFiles\"/>
    <add key="TmpFiles" value="c:\mtnout_android\Sides\TmpFiles\"/>
    <add key="UploadFiles" value="c:\mtnout_android\Sides\UploadFiles\"/>
	<add key="UploadAgentFiles" value="c:\MTN\AgentFiles\"/>
    <add key="ArchiveFiles" value="c:\mtnout_android\Sides\ArchiveFiles\"/>
    <add key="DNBFiles" value="c:\MtnOUT\"/>    
    <add key="MobiPlusMediaFiles" value="C:\MobiPlusMedia\"/>           
    <add key="LogDirectory" value="C:\MobiPlusLogs\"/> 
    <!--<add key="AgentsAPKs" value="c:\mtnout_android\Strauss\APKVersion\"/>    
    <add key="ManagersAPKs" value="c:\mtnout_android\Strauss\APKVersion\MNG\"/>-->
    <add key="AgentsAPKs" value="c:\mtnout_android\Sides\APKVersion\"/>
    <add key="ManagersAPKs" value="c:\mtnout_android\Sides\APKVersion\MNG\"/>
    <!--<add key="StraussOnDB" value="strauss.dbo."/>
    <add key="MobiPlusWebOnDB" value="mobiplusweb.dbo."/>-->
    <add key="StraussOnDB" value="[sides-android].dbo."/>
    <add key="MobiPlusWebOnDB" value="mobipluswebsides.dbo."/> 
    <add key="isToCheckBlocked" value="true"/>

    <add key="AgentsAPKsLayout" value="c:\mtnout_android\Strauss\Layout\"/>
    <add key="ManagersAPKsLayout" value="c:\mtnout_android\Strauss\Layout\MNG\"/>
  </appSettings> 
  <connectionStrings> 
    <add name="WebConnectionString" connectionString="Server=10.0.0.100\mobi2008;Database=MobiPlusWebStrauss;User Id=sa;Password=wiz;Pooling=true"/>     
    <add name="ClientConnectionString" connectionString="Server=10.0.0.100\mobi2008;Database=MobiPlusWebStrauss;User Id=sa;Password=wiz;Pooling=true"/>
    <!--<add name="WebConnectionString" connectionString="Server=10.0.0.100\mobi2008;Database=MobiPlusWebSides;User Id=sa;Password=wiz;"/>
    <add name="ClientConnectionString" connectionString="Server=10.0.0.100\mobi2008;Database=MobiPlusWebSides;User Id=sa;Password=wiz;"/>-->
  </connectionStrings>
  <system.web>
    <customErrors 
                  mode="Off"></customErrors> 
    <httpRuntime maxRequestLength="2147483647" executionTimeout="120000"/> 
    <caching>
      <sqlCacheDependency enabled="true" pollTime="120000">
        <databases>
          <add name="TextSources" connectionStringName="WebConnectionString" pollTime="9000000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>      
      </protocols>     
    </webServices>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <httpHandlers>
      <!--<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
   
    <httpProtocol allowKeepAlive="false">      
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
