<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PSDSrc" value="c:\tmp\pdfPrint.PDF"/>
    <add key="WebConnectionString" value="Server=10.0.0.100\mobi2008;Database=MobiPlusWeb;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="DBTimeOut" value="60"/>
    <add key="LogDirectory" value="C:\MobiPlusLogs\PdfPrint"/>
    <add key="FontSrc" value="C:\Projects\MobiPlus_Solution\Libs\obj\fonts\arial.ttf"/>
    <add key="HeaderColsSrc" value="PCBarcode;ItemName;CaseQuantity;UnitQuantity;UnitNetPrice;PriceBeforeDiscount;TotalSum;TransactionType"/>
    <add key="HeaderColsShow" value="Barcode;שם פריט;כמות פ;כמות ק;מחיר פריט;מחיר לפניי הנחה;סה''כ;סוג עסקה"/>
    <add key="MainGridWidth" value="1,1,1,1,1,1,2,2"/>
    <add key="LoopSleap" value="60000"/>
    <add key="PrinterEXE" value="C:\tmp\TestPrint\bin\Debug\printer.exe"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
