<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MobiPlusWebDiplomatEntities" connectionString="metadata=res://*/LayoutRepository.MobiPlusLayoutModel.csdl|res://*/LayoutRepository.MobiPlusLayoutModel.ssdl|res://*/LayoutRepository.MobiPlusLayoutModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER01\MOBI2014;initial catalog=MobiPlusWebDiplomat;persist security info=True;user id=sa;password=wiz;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>