<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="Trace\trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;Machine: {machine}&#xA;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--<add name="ReadnessEntities"
        connectionString="metadata=res://*/ReadnessModel.csdl|res://*/ReadnessModel.ssdl|res://*/ReadnessModel.msl;provider=System.Data.SqlClient; provider connection string=&quot;data source=AVEN.arvixe.com;initial catalog=opeReady;persist security info=True;user id=opeReadyUser;password=master2w;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ReadnessEntities" connectionString="metadata=res://*/ReadnessModel.csdl|res://*/ReadnessModel.ssdl|res://*/ReadnessModel.msl;provider=System.Data.SqlClient; provider connection string=&quot;data source=devpc;initial catalog=opeReadyDev;persist security info=True;user id=scout;password=scout2w;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ReadnessEntities" connectionString="metadata=res://*/ReadnessModel.csdl|res://*/ReadnessModel.ssdl|res://*/ReadnessModel.msl;provider=System.Data.SqlClient; provider connection string=&quot;data source=AVEN.arvixe.com;initial catalog=opeReady;persist security info=True;user id=opeReadyUser;password=master2w;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="tabEmploymentHistory" value="true" />
    <add key="tabAdminTask" value="true" />
    <add key="tabAttachments" value="true" />
    <add key="iconSSL" value="true" />
    <add key="treeLebel" value="0" />
    <add key="IsOpeSems" value="1" />
    <add key="IsAssetMng" value="1" />
    <add key="ChartImageHandler" value="storage=memory;timeout=20" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <caching>
      <outputCache enableOutputCache="false" enableFragmentCache="false" sendCacheControlHeader="false" omitVaryStar="false" defaultProvider="AspNetInternalProvider" />
    </caching>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" name=".PQADMINASPXAUTH" timeout="280" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="20000" />
    <httpHandlers>
      <add verb="*" path="*.ascx" type="PQ.Admin.Handlers.Dashboard.UCDashboardHandler, PQ.Admin" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PQ.Admin.WebService.ReadinessAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PQ.Admin.WebService.OpSemsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PQ.Admin.WebService.AssetMngSettingsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PQ.Admin.WebService.AssetManagementAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PQ.Admin.WebService.DashboardServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PQ.Admin.WebService.ReadSignsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PQ.Admin.WebService.Readiness">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.ReadinessAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="PQ.Admin.WebService.Readiness" />
      </service>
      <service name="PQ.Admin.WebService.OpSemsService">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.OpSemsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="PQ.Admin.WebService.OpSemsService" />
      </service>
      <service name="PQ.Admin.WebService.AssetMngSettingsService">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.AssetMngSettingsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="PQ.Admin.WebService.AssetMngSettingsService" />
      </service>
      <service name="PQ.Admin.WebService.AssetManagement">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.AssetManagementAspNetAjaxBehavior" binding="webHttpBinding" contract="PQ.Admin.WebService.AssetManagement" />
      </service>
      <service name="PQ.Admin.WebService.DashboardService">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.DashboardServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="PQ.Admin.WebService.DashboardService" />
      </service>
      <service name="PQ.Admin.WebService.ReadSignsService">
        <endpoint address="" behaviorConfiguration="PQ.Admin.WebService.ReadSignsServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="PQ.Admin.WebService.ReadSignsService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: E64A0721-F3D5-4D72-B444-2FFAEB281F60-->