<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--MobiPlusWeb_Hash_English_Demo-->
    <add key="HashEnglish_Demo_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_English_Demo;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="HashEnglish_Demo_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_English_Demo;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="HashEnglish_Demo_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="HashEnglish_Demo_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="HashEnglish_Demo_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="HashEnglish_Demo_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="HashEnglish_Demo_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>
    <!--Dev-->
    <add key="Dev_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb;User Id=sa;Password=wiz;"/>
    <add key="Dev_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb;User Id=sa;Password=wiz;"/>
    <add key="Dev_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Strauss_mtn.db"/>
    <add key="Dev_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Strauss_bi.db"/>
    <add key="Dev_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Strauss_db.db"/>
    <add key="Dev_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Strauss_delta.db"/>
    <add key="Dev_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Layout.db"/>

    <!--Strauss-->
    <add key="Strauss_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebStrauss;User Id=sa;Password=wiz;"/>
    <add key="Strauss_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebStrauss;User Id=sa;Password=wiz;"/>
    <add key="Strauss_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\mtn.db"/>
    <add key="Strauss_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\bi.db"/>
    <add key="Strauss_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\db.db"/>
    <add key="Strauss_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\delta.db"/>
    <add key="Strauss_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Strauss\Layout.db"/>


    <!--Sides-->
    <add key="Sides_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebSides;User Id=sa;Password=wiz;"/>
    <add key="Sides_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebSides;User Id=sa;Password=wiz;"/>
    <add key="Sides_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Sides\mtn.db"/>
    <add key="Sides_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Sides\bi.db"/>
    <add key="Sides_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Sides\db.db"/>
    <add key="Sides_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Sides\delta.db"/>
    <add key="Sides_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Sides\Layout.db"/>

    <!--Yafora-->
    <add key="Yafora_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebYafora;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="Yafora_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebYafora;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="Yafora_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Yafora\mtn.db"/>
    <add key="Yafora_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Yafora\bi.db"/>
    <add key="Yafora_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Yafora\db.db"/>
    <add key="Yafora_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Yafora\delta.db"/>
    <add key="Yafora_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Yafora\Layout.db"/>

    <!--MobiSoft-->
    <add key="MobiSoft_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebOsem;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="MobiSoft_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebOsem;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="MobiSoft_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Osem\mtn.db"/>
    <add key="MobiSoft_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Osem\bi.db"/>
    <add key="MobiSoft_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Osem\db.db"/>
    <add key="MobiSoft_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Osem\delta.db"/>
    <add key="MobiSoft_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Osem\Layout.db"/>

    <!--MobiSale_POD-->
    <add key="MobiSale_POD_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebPOD;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="MobiSale_POD_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebPOD;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="MobiSale_POD_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Osem\mtn.db"/>
    <add key="MobiSale_POD_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Osem\bi.db"/>
    <add key="MobiSale_POD_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Osem\db.db"/>
    <add key="MobiSale_POD_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Osem\delta.db"/>
    <add key="MobiSale_POD_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Osem\Layout.db"/>

    <!--Globrands-->
    <add key="Globrands_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebGlobrands;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="Globrands_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebGlobrands;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="Globrands_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Globrands\mtn.db"/>
    <add key="Globrands_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Globrands\bi.db"/>
    <add key="Globrands_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Globrands\db.db"/>
    <add key="Globrands_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Globrands\delta.db"/>
    <add key="Globrands_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Globrands\Layout.db"/>


    <!--MobiPlusWeb_Hash-->
    <add key="MobiHash_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="MobiHash_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="MobiHash_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="MobiHash_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="MobiHash_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="MobiHash_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="MobiHash_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--MobiPlusWeb_Hash_Unilever_MAMA_G-->
    <add key="Unilever_MAMA_G_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Unilever_mamaGlida;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Unilever_MAMA_G_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Unilever_mamaGlida;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Unilever_MAMA_G_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="Unilever_MAMA_G_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="Unilever_MAMA_G_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="Unilever_MAMA_G_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="Unilever_MAMA_G_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--MobiPlusWeb_Hash_Unilever_VS-->
    <add key="Unilever_VS_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Unilever_VS;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Unilever_VS_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Unilever_VS;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Unilever_VS_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="Unilever_VS_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="Unilever_VS_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="Unilever_VS_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="Unilever_VS_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--MobiPlusWeb_B2B-->
    <add key="MobiB2B_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_B2B;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="MobiB2B_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_B2B;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="MobiB2B_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="MobiB2B_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="MobiB2B_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="MobiB2B_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="MobiB2B_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--MobiPlusWeb_Hash_GAD-->
    <add key="GAD_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_GAD;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="GAD_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_GAD;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="GAD_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="GAD_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="GAD_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="GAD_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="GAD_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--MobiPlusWeb_Hash_English-->
    <add key="HashEnglish_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_English;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="HashEnglish_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_English;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="HashEnglish_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="HashEnglish_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="HashEnglish_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="HashEnglish_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="HashEnglish_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--Diplomat Demo-->
    <add key="DemoDiplomat_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebDiplomatPilot;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="DemoDiplomat_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebDiplomatPilot;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="DemoDiplomat_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="DemoDiplomat_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="DemoDiplomat_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="DemoDiplomat_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="DemoDiplomat_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>

    <!--Strauss20160821-->
    <!--
	  <add key="Strauss20160821_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebStrauss20160821;User Id=sa;Password=wiz;"/>
	  <add key="Strauss20160821_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebStrauss20160821;User Id=sa;Password=wiz;"/>
	  <add key="Strauss20160821_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\mtn.db"/>
	  <add key="Strauss20160821_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\bi.db"/>
	  <add key="Strauss20160821_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\db.db"/>
	  <add key="Strauss20160821_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Strauss\delta.db"/>
	  <add key="Strauss20160821_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Strauss\Layout.db"/>-->

    <!--Diplomat -->
    <add key="Diplomat_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebDiplomat_Dev;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Diplomat_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebDiplomat_dev;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Diplomat_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Hash\mtn.db"/>
    <add key="Diplomat_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Hash\bi.db"/>
    <add key="Diplomat_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Hash\db.db"/>
    <add key="Diplomat_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Hash\delta.db"/>
    <add key="Diplomat_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Hash\Layout.db"/>



    <!--MobiPlusWeb_BAT-->
    <add key="BAT_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_BAT;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="BAT_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_BAT;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="BAT_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\BAT\mtn.db"/>
    <add key="BAT_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\BAT\bi.db"/>
    <add key="BAT_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\BAT\db.db"/>
    <add key="BAT_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\BAT\delta.db"/>
    <add key="BAT_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\BAT\Layout.db"/>




    <!--MobiPlusWeb_Hash_Dganit-->
    <add key="Dganit_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Dganit;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Dganit_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash_Dganit;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Dganit_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\Dganit\mtn.db"/>
    <add key="Dganit_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\Dganit\bi.db"/>
    <add key="Dganit_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\Dganit\db.db"/>
    <add key="Dganit_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\Dganit\delta.db"/>
    <add key="Dganit_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\Dganit\Layout.db"/>


    <!--MobiPlusWeb_Hash_Diplomat 2014 web-->
    <add key="Diplomat2014_WebConnectionString" value="Server=10.0.0.100\mobi2014;Database=MobiPlusWebDiplomat_PROD_AVI;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Diplomat2014_ClientConnectionString" value="Server=10.0.0.100\mobi2014;Database=MobiPlusWebDiplomat_PROD_AVI;User Id=sa;Password=wiz;Pooling=false"/>



    <!--MobiPlusWeb_Practice-->
    <add key="Practice_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Practice;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Practice_ClientConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Practice;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="Practice_SqlLiteMtnDBPath" value="E:\data\MobiPlus\AttachDB\BAT\mtn.db"/>
    <add key="Practice_SqlLiteBIDBPath" value="E:\data\MobiPlus\AttachDB\BAT\bi.db"/>
    <add key="Practice_SqlLiteDBDBPath" value="E:\data\MobiPlus\AttachDB\BAT\db.db"/>
    <add key="Practice_SqlLiteDeltaDBPath" value="E:\data\MobiPlus\AttachDB\BAT\delta.db"/>
    <add key="Practice_SqlLiteDeltaLayoutPath" value="E:\data\MobiPlus\AttachDB\BAT\Layout.db"/>
    <!--Fisher-->
    <add key="Fisher_WebConnectionString" value="Server=DEVSRV\DEV2014;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=true"/>

    <add key="MPService.MobiPlusService" value="http://localhost:7050/MobiPlusServices/MobiPlusService.asmx"/>
    <add key="LogDirectory" value="C:\MobiPlus\Logger\"/>
    <add key="ServerAddress" value="127.0.0.1:7050"/>
    <add key="MainService.MobiPlusWS" value="http://localhost:7050/MobiWebServices/MobiPlusWS.asmx"/>

  </appSettings>
  <connectionStrings />
  <system.web>
    <httpRuntime />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
          The <authentication> section enables configuration  
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="WebMainHandler" path="~/Handlers/WebMainHandler.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="MainHandler" path="~/Handlers/MainHandler.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ShowImage" path="~/Handlers/ShowImage.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>