<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="LogDirectory" value="C:\MobiPlusLayoutLogs\"/>
    <add key="ServerAddress" value="localhost:8090"/>
    <add key="IsDevelop" value="true"/>
    <add key="GallerySrcImages" value="C:\MTN\AgentFiles\"/>
    <add key="GallerySavedImages" value="C:\Vss.Net\MobiPlus_Solution\MobiPlusLayout\img\Gallery\"/>
    <add key="MediaSavedImages" value="C:\MTN\media\pictures\"/>
    <add key="MediaSavedBigImages" value="C:\MTN\media\pictures_large\"/>
    <add key="MediaShowImages" value="http://10.0.0.85:8098/MediaSite/pictures"/>
    <add key="MediaShowBigImages" value="http://10.0.0.85:8098/MediaSite/pictures_large"/>
    <add key="MediaSmallImgSizes" value="80,96"/>
    <add key="MediaBigImgSizes" value="400,500"/>
    <add key="DocManagementDir" value="C:\MTN\DocManegmentDir\"/>
    <add key="DocManagementPrfixes" value=".doc,.xls,.docx,.xlsx,.png,.jpg,.txt,.pdf"/>
    <add key="ClientVersion" value="20"/>
    <add key="GridColDelimiter" value="^"/>
    <add key="ReportKeyValueCssClassKey" value=".ReportKeyValueKey{vertical-align:top;color:Gray;}"/>
    <add key="ImagesDir" value="C:\MTN\AgentFiles\"/>
    <add key="CurrentVersion" value="ver: 1.0.0"/>
    <!--Dev-->
    <add key="Dev_WebConnectionString" value="Server=SERVER01\mobi2014;Database=MobiPlusWebDiplomat;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Strauss-->
    <add key="Strauss_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebStrauss;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Sides-->
    <add key="Sides_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebSides;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Yafora-->
    <add key="Yafora_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebYafora;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Osem-->
    <add key="Osem_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebOsem;User Id=sa;Password=wiz;Pooling=true"/>
    <!--POD-->
    <add key="POD_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebPOD;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Globrands-->
    <add key="Globrands_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebGlobrands;User Id=sa;Password=wiz;Pooling=true"/>
    <!--MobiPlusWeb_Hash-->
    <!--<add key="MobiHash_WebConnectionString" value="Server=DEVSRV\DEV2014;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=true"/>-->
    <add key="MobiHash_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=true"/>
    <!--MobiPlusWeb_B2B-->
    <add key="MobiB2B_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWeb_B2B;User Id=sa;Password=wiz;Pooling=true"/>
    <!--MobiPlusWeb_Hash_Unilever-->
    <add key="Unilever_WebConnectionString" value="Server=10.0.0.100\mobi2014;Database=MobiPlusWeb_Hash_Unilever;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Diplomat demo-->
    <add key="DemoDiplomat_WebConnectionString" value="Server=10.0.0.100\mobi2012;Database=MobiPlusWebDiplomatPilot;User Id=sa;Password=wiz;Pooling=false"/>
    <!--Diplomat-->
    <add key="Diplomat_WebConnectionString" value="Server=SERVER01\mobi2014;Database=MobiPlusWebDiplomat;User Id=sa;Password=wiz;Pooling=true"/>
    <add key="BAT_WebConnectionString" value="Server=10.0.0.10\SQLSERVER2008;Database=MobiPlusWeb_BAT;User Id=sa;Password=wiz;Pooling=false"/>
    <add key="NesherPeer_WebConnectionString" value="Server=10.0.0.100\mobi2014;Database=MobiPlusWeb_Hash_English;User Id=sa;Password=wiz;Pooling=true"/>
    <!--Fisher-->
    <add key="Fisher_WebConnectionString" value="Server=DEVSRV\DEV2014;Database=MobiPlusWeb_Hash;User Id=sa;Password=wiz;Pooling=true"/>
  </appSettings>
  <connectionStrings/>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpRuntime/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration  
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="WebMainHandler" path="~/Handlers/WebMainHandler.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="MainHandler" path="~/Handlers/MainHandler.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ShowImage" path="~/Handlers/ShowImage.ashx" verb="*" type="Handler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>